.slotMachine{
    width: 60%;
    background-color: rgb(136, 198, 219);
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
    border: 2px solid yellow;
    border-radius: 20%;
    height: 95vh;
    margin: auto;
    padding-top: 1vh;
}
header{
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
justify-content: flex-start;
    
}
h1, span{
    text-align: center;
    padding-top: 5%;
    font-size: 4rem;
    font-family: 'Oleo Script Swash Caps', cursive;
    color: yellow;
}
h1{
    font-size: 6rem;
    text-align: center;
    flex-grow: 2;
    margin: 6%;
    padding-top: 0;
   
}
input{
    
    border: 2px solid yellow;
    margin:  0 6%;
    flex-grow: 2;
    padding: 3%;
   
    
}
    /* player information */

.player-info{
    /* border: 1px solid black; */
    height: 20vh;
    margin-top: 4%;
    
}


span{
    font-size: 2rem;
    margin-right: 2%;
    
}
.spins, .tokens{
 float: left;
 width: 10%;
 margin-left: 2%;
}

.player-space{
    background-color: white;
    width: 20%;
    height: 20vh;
    float: left;
    border: 2px solid yellow;
    margin-left: 0.5%;
}

p{
    font-size: 4rem;
    font-family: 'Oleo Script Swash Caps', cursive;
    color: rgb(136, 198, 219);
    text-align: center;
    margin-top: 20%;
}
   
.action{
    border-radius: 100%;
    width: 15%;
    height: 12rem;
    margin-left: 6%;
    font-family: 'Oleo Script Swash Caps', cursive;
    color: yellow;
    border: 2px solid yellow;
    background-color: rgb(136, 198, 219);
    font-size: 2rem;
}

/* reels */

.reels{
    height: 38vh;
    /* border: 2px solid black; */
    width: 80%;
    margin: auto;
    margin-top: 3rem;
}
.reel{
    border: 2px solid black;
    margin: 0 6%;
    height: 20vh;
    float: left;
    width: 20%;
    background-color: white;
    border: 2px solid yellow;
}
.reel-content{
    
    font-size: 7rem;
    font-family: 'Smokum', cursive;
}
/* @media only screen and  (orientation: portrait) and (max-width: 400px){
    
} */


@media (max-width: 700px){
    .slotMachine{
        width: 95%;
    }
    .reels{
        height: 15vh;
        margin-top: 8rem;
        width: 95%;
    }
   
    /* .player-info{
    
        height: 12vh;
    }
    .player-space{
        height: 9vh;
    }
   
    .reel{
        height: 15vh;
    }
    .action{
        height: 11rem;
        width: 20%;
        font-size: 2.4rem;
    }
    .input{
        margin: 0;
        display: block;
    } */
} 